
@font-face {
  font-family: 'MontserratAlt';
  src: url('./assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --primary-color: #7600df;
  --primary-dark: #5a00b0;
  --background-dark: #2a0085;
  --text-light: #ffffff;

  --font-display: 'Playfair Display', serif; 
  --font-body: 'MontserratAlt', sans-serif;  


  --radius-large: 20px;
  --radius-small: 8px;

  --shadow-soft: 0px 4px 12px rgba(0,0,0,0.2);
  --shadow-strong: 0px 8px 25px rgba(0,0,0,0.35);
}


body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: var(--font-body);
  color: var(--text-light);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}


.btn-primary {
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-light);
  border-radius: var(--radius-large);
  padding: 12px 28px;
  font-size: 16px;
  font-family: var(--font-body);
  font-weight: 600;
  box-shadow: var(--shadow-soft);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary-dark);
  box-shadow: var(--shadow-strong);
  transform: translateY(-3px);
}

input, textarea {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border-radius: var(--radius-small);
  border: none;
  margin: 10px auto;
  font-size: 1rem;
  font-family: var(--font-body);
  outline: none;
  transition: border 0.3s ease;
}


